.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

h1, h2 {
    color: #333;
}

.tabs, .frequency-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab {
    padding: 10px 20px;
    margin: 0 5px;
    color: black;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab.active {
    background-color: #4CAF50;
    color: white;
}

.tab:not(.active):hover {
    color: white;
}

.meal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.meal {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.herbs p {
    background-color: #e9e9e9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.order-button, .yes-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

.order-button:hover, .yes-button:hover {
    background-color: #369638;
}

.actions p {
    margin-top: 20px;
}
