
  
  .skipbutton,
  .nextbutton {
    margin-top: 20px;
    text-align: center;
  }
  
  .skip-btn,
  .next-btn {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .skip-btn {
    background-color: #B1B1B1;
    color:black;
  }
  
  .next-btn {
    background-color: #8F9F6D;
  }
  